.Sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.15;
    padding: 20px;
    gap: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
  }
  
  .SideBar_inner {
    position: sticky;
    top: 55px;
    margin: 20px 0;
    padding: 20px 0;
  }
  
  .SideBarRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #000 !important;
    margin: 20px 0;
  }
  
  .user-title {
    color: rgb(143, 76, 166) !important;
    font-size: 13px !important;
    margin-left: 20px !important;
    font-weight: bold !important;
  }
  
  .SideBarRow__title {
    flex: 1 !important;
    margin-left: 20px !important;
    font-size: 12px !important;
    color: #000 !important;
  }
  
  @media (max-width: 520px) {
    .SideBar_inner {
      width: 60px;
      margin: 0;
      padding: 0;
    }
    .SideBarRow__title {
      display: none !important;
    }
    .Sidebar {
      max-width: 60px;
      padding: 10px;
    }
    .user-title {
      display: none !important;
    }
  }
  
  .SideBarRow:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  
  .SideBar > hr {
    height: 1px;
    border: none;
    background-color: lightgray;
    margin: 10px 0;
  }