.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .signIn-options {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .single-option {
    display: flex;
    padding: 9px;
    margin: 5px 0;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(66, 42, 42, 0.19);
    cursor: pointer;
    transition: all 0.3s;
    align-items: center;
  }
  
  .single-option:hover {
    box-shadow: 0 4px 8px 0 #0095ff15, 0 6px 20px 0 #0095ff52;
  }
  
  .single-option > p {
    margin-left: 10px;
  }
  
  .single-option > img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 15px;
  }
  
  .manual-auth {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 8px;
    margin-top: 20px;
  }
  
  .auth-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    font-weight: 700;
  }
  
  .auth-fields > input {
    height: 28px;
    background-color: rgb(204, 236, 225);
    border: 1px solid rgb(174, 217, 248);
    outline: none;
    border-radius: 3px;
  }
  
  .error_message {
    margin-top: 20px;
    text-align: center;
    color: red;
  }